html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.container {
	max-width: 390px;
}

.game {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.quill {
  display: flex;
  position: fixed;
  top: 20.9%;
  left: 43%;
  align-items: center;
  justify-content: center;
}

/* .quill img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
} */

.score {
  font-family: 'Irish Grover', cursive;
  color: #2AC9AF;
  position: fixed;
  top: 15%;
  left: 47%;
  font-size: 220%;
}

 .flamingoTap {
  position: fixed;
  top: 25%;
  left: 40%;
}

.flamingoTap img {
  position: fixed;
  top: -10%;
  left: 10%;
} 

/* .friend {
  position: fixed;
  top: 70%;
  left: 40%;
}

.gift {
  position: fixed;
  top: 70%;
  left: 46%;
}

.tasks {
  position: fixed;
  top: 70%;
  left: 52%;
}

.skin {
  position: fixed;
  top: 70%;
  left: 57%;
}

.settings {
  position: fixed;
  top: 5.5%;
  left: 60%;
} */

.flamingoText {
  font-family: 'Irish Grover', cursive;
  color: #FF6767;
  position: fixed;
  top: 0%;
  left: 40%;
  font-size: 36px;
  font-weight: 900;
}

.plus-one {
  position: absolute;
  font-family: Inter;
  text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  animation: move-up 2s forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
